*{
  margin: 0;
  color:#fff;
}
header{
  text-align: center;
  background-image: url("image.jpg");
  background-size: 100%;
  height:650px;
  font-family: cursive;
}

.one{
  font-size: 2.5em;
  padding-top:270px;
  text-decoration:  underline overline;
  text-decoration-color: orange;
}

.one span{
  color: orange;
}
.two:hover{
  background:#000;
  color: orange;
}

.two{
padding: 10px;
border-style: solid;
border-radius: 10px;
margin: 30px 42%;
border-color: orange;
background-color: orange;
}
nav {
  background-color: darkslategrey;
  height: 100px;
}
.nav1{
  display: inline-block;
  padding-left: 40px;
  font-size: 2.2em;
  margin-top: 30px
}
.nav1 span{

  color: orange;
}
.nav2 {
  display: inline;
  margin-left: 47%;
  font-style: oblique;
  color: orange;
    font-size: 3em;
}
